<div class="container-fluid">
  <h2>Daily Tasks To Do List</h2>
  <div class="row">
    <div class="col-md-6">
      <form action="">
        <label for="Todays task" class="text-white">Enter your Task</label>
        <br>
        <br>
        <input type="text" name="task" id="task">
        <br>
        <br>
        <label for="details" class="text-white">Describe your tasks</label>
        <br>
        <br>
        <input type="text" name="description" id="describe">
      </form>
      <br>
      <button type="button" class="btn btn-outline-success">Add Task</button>
    </div>
   

    
    <div class="col-md-6">
      <ul>
        <li *ngFor="let task of tasks" appCross>
          <br>
          <!-- /*displaying the description and id of task*/ -->
          {{task.name}} - {{task.descriptionOfTask}}
          <br>
          <button>Task completed</button>
  
        </li>
  
      </ul>

    </div>

  </div>
</div>
