.container{
    background-color: rgb(3, 13, 44);
    height: 100vh;

}
h2{
    text-align: center;
    color: rgb(84, 180, 116);
    font-size: 4vh;
}
ul li{
    list-style-type: none;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}
button{
    outline: 0.5px solid rgb(84, 180, 116);
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    color: rgb(84, 180, 116);
}